<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIWEB</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>

        <nav id="navbar">
            <img src="https://i.imgur.com/5b9KdhP.png" alt="Logo" class="logo">
            <a href="/">Inicio</a>
            <a href="/conductores/listaConductores">Conductores </a>
            <a href="/conductores/nuevo" target="_blank" class="boton-enlace">Formulario de condutores</a>
            <a href="https://github.com/FaustoMM/ProyectoMesaPyBD.git">GitHub</a>
        </nav>
    </header>



    <main>

        <h2>LISTA DE CONDUCTORES</h2>

        <div class="row">
            <!-- Iterar sobre los conductores -->
            <div class="col-md-4 mb-4" th:each="conductor : ${conductores}">
                <br>
                <div class="card shadow-sm border-light rounded">
                    <br>
                    <br>
                    <img th:src="'https://randomuser.me/api/portraits/men/' + ${conductor.id} % 100 + '.jpg'"
                        class="card-img-top rounded-circle mx-auto d-block" alt="Foto Conductor"
                        style="width: 150px; height: 150px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-2" th:text="|${conductor.nombre} ${conductor.apellido}|"></h5>

                        <p class="card-text text-muted mb-2">
                            <i class="bi bi-car-front me-2"></i> Modelo de auto: <span
                                th:text="${conductor.automovil}"></span>
                        </p>
                        <p class="card-text text-muted mb-3">
                            <i class="bi bi-bookmark-star"></i> Tipo de Auto: <span
                                th:text="${conductor.tipoAutomovil}"></span>
                        </p>

                        <a th:href="@{/conductores/mostarDetallesConductor/{id}(id=${conductor.id})}" class="btn btn-primary w-100 mb-2">
                            <i class="bi bi-info-circle me-2"></i> Ver Detalles
                        </a>

                        <!-- Formulario para eliminar conductor -->
                        <form th:action="@{/conductores/eliminar/{id}(id=${conductor.id})}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger w-100"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este conductor?')">
                                <i class="bi bi-trash me-2"></i> Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>




    <footer>
        <p>Derechos reservados &copy; 2025</p>
    </footer>
</body>

</html>