<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIWEB</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>

        <nav id="navbar">
            <img src="https://i.imgur.com/5b9KdhP.png" alt="Logo" class="logo">
            <a href="/">Inicio</a>
            <a href="/conductores/listaConductores">Conductores </a>
            <a href="/conductores/nuevo" target="_blank" class="boton-enlace">Formulario de condutores</a>
            <a href="https://github.com/FaustoMM/ProyectoMesaPyBD.git">GitHub</a>
        </nav>
    </header>
    

    <main>
     



        <div class="container mt-5">
            <h2 class="text-white fw-bold text-center">
                <i class="bi bi-person-circle"></i> REGISTRAR CONDUCTOR</h2>
            <hr>
            
            <div class="card shadow p-4">
                <form th:action="@{/conductores/guardar}" method="post" th:object="${conductor}">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" th:field="*{nombre}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido</label>
                        <input type="text" class="form-control" th:field="*{apellido}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" th:field="*{fechaNacimiento}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Automóvil</label>
                        <input type="text" class="form-control" th:field="*{automovil}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de Automóvil</label>
                        <select class="form-select" th:field="*{tipoAutomovil}" required>
                            <option value="BASE">base</option>
                            <option value="LUXE">lux</option>
                            <option value="PREMIUM">premium</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a href="/" class="btn btn-secondary">Volver</a>
                </form>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </main>
    
    <footer>
        <p>Derechos reservados &copy; 2025</p>
    </footer>
</body>
</html>