<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIWEB</title>
    <link rel="stylesheet" href="Styles.css">
</head>

<body>
    <header>

        <nav id="navbar">
            <img src="https://i.imgur.com/5b9KdhP.png" alt="Logo" class="logo">
            <a href="#inicio">Inicio</a>
            <a href="#redes">Redes</a>
            <a href="" target="_blank" class="boton-enlace">Entrada</a>
            <a href="#sobremi">Entrada2</a>
            <a href="#sobremi">Entrada3</a>
            <a href="#sobremi">Entrada4</a>
            <a href="#sobremi">Entrada5</a>
        </nav>
    </header>
    

    <main>
        <section class="section1">
            <h2>Sobre nosotros</h2>
            <p>Esta es una página de ejemplo con elementos básicos de HTML.</p>
        </section>
        
        <section class="section2">
            <h2>Imagen de ejemplo</h2>
            <img src="https://via.placeholder.com/300" alt="Imagen de ejemplo">
        </section>
        
        <section class="section3">
            <h2>Lista de elementos</h2>
            <ul>
                <li>Elemento 1</li>
                <li>Elemento 2</li>
                <li>Elemento 3</li>
            </ul>
        </section>

        <section class="sobre-mi">
            <h2 id="sobremi">SOBRE MI</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_kS6dJnLBHUfdmGIvXge7yexJmEey_W6wcA&s" alt="Foto de perfil" />
            <p>¡Hola! Mi nombre es Fausto Miranda. Soy Estudiante y aspirante a Profesor, Si llegaste hasta aqui espero que te haya servido la informacion proporcionada.</p>
            <p>GRACIAS POR LEER</p>
        </section>
    </main>
    
    <footer>
        <p>Derechos reservados &copy; 2025</p>
    </footer>
</body>
</html>